{% extends 'visitors_header.html' %}

{% block content %}
    <div class="contenido">
        <form id="formulario" action="/visitors/checkUser" method="post">
            <div>
                <label>Correo:</label>
                <input type="text" name="correo" minlength="1" maxlength="200" required>
            </div>
            <div>
                <label>Contraseña:</label>
                <input type="password" name="contraseña" minlength="8" maxlength="200" required>
            </div>
            <input type="submit" class="centrarBoton boton" value="Iniciar Sesion">
        </form>
    </div>
{% endblock %}